DB_HOST=localhost
DB_NAME=seu_banco
DB_USER=usuario
DB_PASS=senha

GOOGLE_CLIENT_ID=sua_client_id_aqui
GOOGLE_CLIENT_SECRET=sua_secret_aqui
GOOGLE_REDIRECT_URI=http://localhost/seu_projeto/oauth2callback.php
